@import "tailwindcss";

@theme inline {
  --color-bg: #1D1D1D;
  --color-text: #A7C957;
  --color-error: #BC4749;
  --color-button: #386641;
  --font-header: var(--font-fjalla-one);
  --font-body: var(--font-cantarell);
}

html { 
  scrollbar-gutter: stable;           /* or: stable both-edges */
}

@layer base {
  body {
    @apply bg-bg text-text font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-header;
  }
  h1 {
    @apply text-xl sm:text-2xl md:text-6xl font-normal sm:leading-10 md:leading-20; /* sm:30px md:60px */
  }

  h2 {
    @apply text-base sm:text-2xl md:text-5xl font-normal sm:leading-10 md:leading-15; /* 48px */
  }

  h3 {
    @apply text-2xl font-normal; /* 24px */
  }

  /* === Body text === */
  .body-1 {
    @apply text-base md:text-4xl font-normal; /* 32px */
  }

  .body-2 {
    @apply text-xs md:text-2xl font-normal; /* 24px */
  }

  .body-3 {
    @apply text-base md:text-xl font-normal; /* 20px */
  }

  .nav-text {
    @apply text-xs md:text-2xl xl:text-4xl font-normal; /* 24px */
  }

  input, textarea, select { color-scheme: dark; }

  /* Chrome/Safari (WebKit) */
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    /* text color */
    -webkit-text-fill-color: var(--color-text) !important;
    caret-color: var(--color-text);

    /* override the yellow/gray bg with your theme bg */
    -webkit-box-shadow: 0 0 0px 1000px var(--color-bg) inset;
            box-shadow: 0 0 0px 1000px var(--color-bg) inset;

    /* optional: avoid flash on focus */
    transition: background-color 9999s ease-out, color 9999s ease-out;
  }

  /* Firefox */
  input:-moz-autofill,
  textarea:-moz-autofill,
  select:-moz-autofill {
    box-shadow: 0 0 0px 1000px var(--color-bg) inset;
    -moz-text-fill-color: var(--color-text);
    caret-color: var(--color-text);
  }

  /* Keep typography consistent for autofilled first line */
  input:-webkit-autofill::first-line,
  textarea:-webkit-autofill::first-line {
    font-family: var(--font-cantarell);
  }
}

@layer components {
  .btn {
    @apply bg-button
  }
  .card {
  @apply bg-[url('/GRADIENT_CARD_489x80.svg')] bg-no-repeat bg-center bg-cover;
  }
  .terminal {
    @apply bg-[url('/GRADIENT_TERMINAL_SUCCESS_sm.svg')]
         bg-no-repeat bg-center bg-cover
         bg-clip-padding
         border-[#1E2420CC]; 
  }
}

@keyframes caret-blink { 50% { opacity: 0; } }
.caret-blink { animation: caret-blink 1s steps(1, end) infinite; }

.caret-fixed {
  display: inline-block;
  width: 1ch;          /* keeps space so toggling visibility doesn't reflow text */
  line-height: 1;
}

/* Hide scrollbars cross-browser */
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
.no-scrollbar::-webkit-scrollbar { display: none; }