@import "tailwindcss";

@theme inline {
  --color-bg: #1D1D1D;
  --color-text: #A7C957;
  --color-error: #BC4749;
  --color-button: #386641;
  --font-header: var(--font-fjalla-one);
  --font-body: var(--font-cantarell);
}

@layer base {
  body {
    @apply bg-bg text-text font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-header;
  }
  h1 {
    @apply text-3xl md:text-6xl font-normal leading-10 md:leading-20; /* sm:30px md:60px */
  }

  h2 {
    @apply text-5xl font-normal; /* 48px */
  }

  h3 {
    @apply text-2xl font-normal; /* 24px */
  }

  /* === Body text === */
  .body-1 {
    @apply text-base md:text-4xl font-normal; /* 32px */
  }

  .body-2 {
    @apply text-base md:text-2xl font-normal; /* 24px */
  }

  .body-3 {
    @apply text-base md:text-xl font-normal; /* 20px */
  }

  .nav-text {
    @apply text-xs md:text-2xl xl:text-4xl font-normal; /* 24px */
  }
}

@layer components {
  .btn {
    @apply bg-button
  }
  .card {
    @apply bg-[url('/card-Gradient-Light.svg')] bg-no-repeat bg-center
  }
}

@keyframes caret-blink { 50% { opacity: 0; } }
.caret-blink { animation: caret-blink 1s steps(1, end) infinite; }

.caret-fixed {
  display: inline-block;
  width: 1ch;          /* keeps space so toggling visibility doesn't reflow text */
  line-height: 1;
}

/* Hide scrollbars cross-browser */
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
.no-scrollbar::-webkit-scrollbar { display: none; }