@import "tailwindcss";

@theme inline {
  --color-bg: #1D1D1D;
  --color-text: #A7C957;
  --color-error: #BC4749;
  --color-button: #386641;
  --font-header: var(--font-fjalla-one);
  --font-body: var(--font-cantarell);
}

@layer base {
  body {
    @apply bg-bg text-text font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-header;
  }
  h1 {
    @apply text-6xl font-normal; /* 64px */
  }

  h2 {
    @apply text-5xl font-normal; /* 48px */
  }

  h3 {
    @apply text-2xl font-normal; /* 24px */
  }

  /* === Body text === */
  .body-1 {
    @apply text-4xl font-normal; /* 32px */
  }

  .body-2 {
    @apply text-2xl font-normal; /* 24px */
  }

  .body-3 {
    @apply text-xl font-normal; /* 20px */
  }
}

@layer components {
  .btn {
    @apply bg-button
  }
  .card {
    @apply bg-[url('/card-Gradient-Light.svg')] bg-no-repeat bg-center
  }
}